html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #283856;
  font-family: sans-serif;
  overflow: hidden;
  margin:0;
}

.blocklySvg {
  /*background: url("castle.png"); !important
  background-size:100px; !important*/
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

.credits {
  color:#fff;
}

.credits a {
  color:#fff;
}

#blocklyDiv {
  width: 100%;
  height: 95%;
  position:fixed;
  top:30px;
}

#importExport {
  font-family: monospace;
}

/* Navigation bar */
#sidenav {
  background-color:#283856;
  position:relative;
  z-index:5000;
}

#programs {
  display:none;
}
.progLink {
  text-align:center;
}
.progLink img {
  height:75px;
}

.sidenav-down {
  -webkit-animation:animatedown 0.4s;
  animation:animatedown 0.4s
}      
@-webkit-keyframes animatedown {
  from { 
    top:-300px;
  }
  to { 
	top:0;
  }
}	  
@keyframes animatedown { 
  from { 
	top:-300px;
  }
  to { 
	top:0;
  }
}

.sidenav-up {
  -webkit-animation:animateup 0.4s;
  animation:animateup 0.4s;
  display:none;
}
@-webkit-keyframes animateup {
  from {
	top:0px;
  }
  to {
	top:-300px;
  }
} 
@keyframes animateup { 
  from {
	top:0px;
  }
  to {
	top:-300px;
  }
}

.navLink {
  width:100%;
  height:100px;
  display:block;
  text-align:center;
  border:1px solid #334771;
  transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
}

.navLink img {
  height:75px;
  margin-top:12px;
}

.stableNav {
  display:table;
  width:100%;
}
.indexNav {
	width:50%;
}
.navRow {
  height:100%;
  display:table-cell;
  text-align:center;
  border:1px solid #334771;
}
.popupRow {
  height:100%;
  font-size:90px;
  color:white;
  text-decoration:none;
  width:33%;
  display:table-cell;
  text-align:center;
  border-radius:25px;
}
.popupRow4 {
  height:100%;
  font-size:90px;
  color:white;
  text-decoration:none;
  width:25%;
  display:table-cell;
  text-align:center;
  border-radius:25px;
}
.popupRow5 {
  height:100%;
  font-size:90px;
  color:white;
  text-decoration:none;
  width:20%;
  display:table-cell;
  text-align:center;
  border-radius:25px;
}
.popupRow9 {
  color:white;
  text-decoration:none;
  width:10%;
  display:inline-block;
  text-align:center;
}
.note {
  height:300px;
  border:5px #334771 solid;
  border-radius:0 0 30px 30px;
}
.stop {
	display:none;
}
.selected {
	background-color:#334771;
}
.selected9 {
	border:5px #ffffff solid;
}
.wrong {
	background-color:#800020;
}
.navRow img {
  height:75px;
  margin:12px;
}
.popupRow img {
  height:75px;
  margin:12px;
}
.popupRow4 img {
  height:75px;
  margin:12px;
}
.popupRow5 img {
  height:75px;
  margin:12px;
}
.popupRow9 img {
  height:50px;
  margin:12px;
}
.note img {
  margin-top:213px;
}
.menuButton {
  color:#fff;
  width:100%;
  font-size:20px;
  line-height:30px;
  position:absolute;
  text-align:center;
  text-decoration:underline;
  background-color: #283856;
}

div.menuButton:active, div.menuButton:hover{
  background-color: #334771;
}
.settings {
  width:90%;
  position:absolute;
  top:200px;
  display:none;
  margin-left:5%;
}
.settingsRow {
  display:table;
  width:100%;
  border:2px solid #24324D;
  border-radius:25px;
  background-color:#283856;
}
.foodRow {
  display:block;
  width:100%;
  border:2px solid #24324D;
  border-radius:25px;
  background-color:#24324D;
  overflow-x:scroll;
}
.foodRow::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.foodRow::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.foodRow::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
#loading {
	display:none;
	position:absolute;
	margin:200px auto;
	width:100px;
	left:0;
	right:0;
}



// Range Slider
$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;


.range-slider {
  width: 90%;
}
.range-slider img {
	width:5%;
	margin:0 2%;
}
.range-slider__range {
  -webkit-appearance: none;
  width: 80%;
  height: 20px;
  border-radius: 5px;
  background:#334771;
  outline: none;
  padding: 0;
  margin: 25px 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 40px;
  width: 40px;
border-radius: 50%;
background:#ffffff;
}
