html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #283856;
  font-family: sans-serif;
  overflow: hidden;
  margin:0;
}

.blocklySvg {
  /*background: url("castle.png"); !important
  background-size:100px; !important*/
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

.credits {
  color:#fff;
}

.credits a {
  color:#fff;
}

#blocklyDiv {
  width: 100%;
  height: 95%;
  position:fixed;
  top:30px;
}

#importExport {
  font-family: monospace;
}

/* Navigation bar */
#sidenav {
  background-color:#283856;
  position:relative;
  z-index:5000;
}

#programs {
  display:none;
}
.progLink {
  text-align:center;
}
.progLink img {
  height:75px;
}

.sidenav-down {
  -webkit-animation:animatedown 0.4s;
  animation:animatedown 0.4s
}      
@-webkit-keyframes animatedown {
  from { 
    top:-300px;
  }
  to { 
	top:0;
  }
}	  
@keyframes animatedown { 
  from { 
	top:-300px;
  }
  to { 
	top:0;
  }
}

.sidenav-up {
  -webkit-animation:animateup 0.4s;
  animation:animateup 0.4s;
  display:none;
}
@-webkit-keyframes animateup {
  from {
	top:0px;
  }
  to {
	top:-300px;
  }
} 
@keyframes animateup { 
  from {
	top:0px;
  }
  to {
	top:-300px;
  }
}

.navLink {
  width:100%;
  height:100px;
  display:block;
  text-align:center;
  border:1px solid #334771;
  transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
}

.navLink img {
  height:75px;
  margin-top:12px;
}

.stableNav {
  display:table;
  width:100%;
}
.indexNav {
	width:50%;
}
.navRow {
  height:100%;
  display:table-cell;
  text-align:center;
  border:1px solid #334771;
}
.popupRow {
  height:100%;
  font-size:90px;
  color:white;
  text-decoration:none;
  width:33%;
  display:table-cell;
  text-align:center;
  border-radius:25px;
}
.popupRow4 {
  height:100%;
  font-size:90px;
  color:white;
  text-decoration:none;
  width:25%;
  display:table-cell;
  text-align:center;
  border-radius:25px;
}
.selected {
	background-color:#334771;
}
.navRow img {
  height:75px;
  margin:12px;
}
.popupRow img {
  height:75px;
  margin:12px;
}
.popupRow4 img {
  height:75px;
  margin:12px;
}
.menuButton {
  color:#fff;
  width:100%;
  font-size:20px;
  line-height:30px;
  position:absolute;
  text-align:center;
  text-decoration:underline;
  background-color: #283856;
}

div.menuButton:active, div.menuButton:hover{
  background-color: #334771;
}
.settings {
  width:90%;
  position:absolute;
  top:200px;
  display:none;
  margin-left:5%;
}
.settingsRow {
  display:table;
  width:100%;
  border:2px solid #24324D;
  border-radius:25px;
  background-color:#283856;
}
#loading {
	display:none;
	position:absolute;
	margin:200px auto;
	width:100px;
	left:0;
	right:0;
}



// Range Slider
$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;


.range-slider {
  width: 90%;
}
.range-slider__range {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background:#334771;
  outline: none;
  padding: 0;
  margin: 20px 5%;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
width: 20px;
border-radius: 50%;
background:#ffffff;
}
