html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #283856;
  font-family: sans-serif;
  overflow: hidden;
  margin:0;
}

.blocklySvg {
  /*background: url("castle.png"); !important
  background-size:100px; !important*/
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

.credits {
  color:#fff;
}

.credits a {
  color:#fff;
}

#blocklyDiv {
  width: 100%;
  height: 95%;
  position:fixed;
  top:30px;
}

#importExport {
  font-family: monospace;
}

/* Navigation bar */
#sidenav {
  background-color:#283856;
  position:relative;
  z-index:5000;
}

#programs {
  display:none;
}
.progLink {
  text-align:center;
}
.progLink img {
  height:75px;
}

.sidenav-down {
  -webkit-animation:animatedown 0.4s;
  animation:animatedown 0.4s
}      
@-webkit-keyframes animatedown {
  from { 
    top:-300px;
  }
  to { 
	top:0;
  }
}	  
@keyframes animatedown { 
  from { 
	top:-300px;
  }
  to { 
	top:0;
  }
}

.sidenav-up {
  -webkit-animation:animateup 0.4s;
  animation:animateup 0.4s;
  display:none;
}
@-webkit-keyframes animateup {
  from {
	top:0px;
  }
  to {
	top:-300px;
  }
} 
@keyframes animateup { 
  from {
	top:0px;
  }
  to {
	top:-300px;
  }
}

.navLink {
  width:100%;
  height:100px;
  display:block;
  text-align:center;
  border:1px solid #334771;
  transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
}

.navLink img {
  height:75px;
  margin-top:12px;
}

.stableNav {
  display:table;
  width:100%;
}
.navRow {
  height:100%;
  display:table-cell;
  text-align:center;
  border:1px solid #334771;
}
.navRow img {
  height:75px;
  margin:12px;
}

.menuButton {
  color:#fff;
  width:100%;
  font-size:20px;
  line-height:30px;
  position:absolute;
  text-align:center;
  text-decoration:underline;
  background-color: #283856;
}

div.menuButton:active, div.menuButton:hover{
  background-color: #334771;
}
